@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100&display=swap');

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
  }
  
  .option-title {
    font-family: 'Yantramanav', sans-serif;
    color: rgb(224, 178, 247);
    font-size: 50px;
    margin-bottom: 80px;
  }
  
  .option-buttons {
    display: flex;
    justify-content: space-between;
    width: 625px;
  }
  
button {
  background-color: transparent;
  border: transparent;
  height: 300px;
  padding: 20px;
}

  .option-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px;
    padding: 20px;
    border: rgb(153, 24, 222) solid 1px;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .option-card:hover {
    transform: translateY(-10px);
  }
  
  .option-card-title {
    font-family: 'Yantramanav', sans-serif;
    color:rgb(224, 178, 247);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
  }
  
  