.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
  }
  
  .option-title {
    font-size: 50px;
    margin-bottom: 80px;
  }
  
  .option-buttons {
    display: flex;
    justify-content: space-between;
    width: 625px;
  }
  
  .option-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .option-card:hover {
    transform: translateY(-10px);
  }
  
  .option-card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .option-card-description {
    font-size: 16px;
    text-align: center;
  }
  